/*
    Réinitialisation de la feuille de style
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*
    Import des polices et déclaration des variables de police
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font_1: "Bungee Spice", sans-serif;
$font_2: "Lato", sans-serif;

/*
    Variable de couleurs
*/
$color1: #E5E7E6;
$color2: #EEE6D8;
$color3: #DAAB3A;
$color4: #B67332;
$color5: #93441A;

/*
    HTML éléments
*/

html,body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: rgb(133,83,35);
    background: linear-gradient(0deg, rgba(133,83,35,1) 0%, rgba(182,115,50,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

.game {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;

    h1 {
        font-family: $font_1;
        position: absolute;
        left: 50%;
        top: 15px;
        transform: translateX(-50%);
        text-align: center;
        font-size: clamp(2.4rem, 6vw, 3.5rem);
        width: 80%;
    }

    .upper {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 50%;
        background: rgb(217,217,217);
background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 100%);
    }

    .game-content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        
    }
}

.player {
    width: 100%;
    height: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font_2;

    .player-bank {
        display: block;
        text-align: center;
        background: $color5;
        color: #fff;
        padding: 10px;
        font-size: 1.2rem;
    }
}

.player-1 {
    
}